
	/* 重置常用标签的默认样式 */
	page,
	view,
	scroll-view,
	swiper,
	movable-view,
	cover-view,
	text,
	rich-text,
	button,
	input,
	textarea,
	image {
		margin: 0;
		padding: 0;
	}

	page {
		width: 100%;
		height: 100%;
	}