.sigin-content{
	height: 100%;
	width: 100%;
	background-color: aliceblue;
}

.top-content{
	width: 100%;
	height: 25%;
	// background-color: #d1ffff;
}
.bg {
  width: 100%;
  height: 100%;
}
.sigin-date{
position: absolute;
top: 0;
}